* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

/* ================= CONTAINER ================= */

.container {
    background-image: url("../img/ozadje.jpg");
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
    background: blur;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


#labirint {
    position: relative;
    width: 800px;
    height: 800px;
}


#labirint img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 1;
}



#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}
#gumb, #gumb2{
    width: 100px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    height: 50px;
}
